@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* _content/BookShop/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-go0e2qsqvx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-go0e2qsqvx] {
  color: #0077cc;
}

.btn-primary[b-go0e2qsqvx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-go0e2qsqvx], .nav-pills .show > .nav-link[b-go0e2qsqvx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-go0e2qsqvx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-go0e2qsqvx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-go0e2qsqvx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-go0e2qsqvx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-go0e2qsqvx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BookShop/Views/KhachHang/DatHang.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9jaocnel8m] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9jaocnel8m] {
  color: #0077cc;
}

.btn-primary[b-9jaocnel8m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9jaocnel8m], .nav-pills .show > .nav-link[b-9jaocnel8m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9jaocnel8m] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9jaocnel8m] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9jaocnel8m] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9jaocnel8m] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9jaocnel8m] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BookShop/Views/KhachHang/Index.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-x3ta3qft9q] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-x3ta3qft9q] {
  color: #0077cc;
}

.btn-primary[b-x3ta3qft9q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-x3ta3qft9q], .nav-pills .show > .nav-link[b-x3ta3qft9q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-x3ta3qft9q] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-x3ta3qft9q] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-x3ta3qft9q] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-x3ta3qft9q] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-x3ta3qft9q] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BookShop/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1oo39n7tuv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1oo39n7tuv] {
  color: #0077cc;
}

.btn-primary[b-1oo39n7tuv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1oo39n7tuv], .nav-pills .show > .nav-link[b-1oo39n7tuv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1oo39n7tuv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1oo39n7tuv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1oo39n7tuv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1oo39n7tuv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1oo39n7tuv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
